.listsatis{
    display: flex;
    margin-left: 25%;
    margin-top:20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height:auto;
    background-color:rgb(230, 221, 211);
    gap: 5px;

}
.divmain{
    display: flex;
    flex-direction: row;
    gap:20px
}
.satislar{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    height: 50px;
    border: 1px solid;
    background-color:rgb(235, 235, 225);
    
}
.fiyat{
    background-color: rgb(199, 231, 191);
    height: auto;
    width: auto;
}
.satistoplam{
    margin-top:20px;
    width: 200px;
    height: 200px;
    background-color:rgb(230, 221, 211);
     gap: 10px;
}
 