.bulmain{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top:50px ;
}
.bulinput{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background-color: aliceblue;
    border :solid 1px;
    box-shadow: 3px 3px 3px gray;
  
}

.bulresponse{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 100px;
    background-color: aliceblue;
    border :solid 1px;
    box-shadow: 3px 3px 3px gray;
    
}

