.maincrud {
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh; /* Ekran yüksekliğinin tamamını kapla */
    background-color: #f4f4f4;
  }
  
  .crudinput {
    width: 400px;  
    padding: 25px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .divdorm {
    display: flex;
    flex-direction: column; /* Dikey hizalama */
    gap: 8px;
  }
  
  .label {
    font-weight: 600;
    color: #333;
  }
  
  .input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .button {
    padding: 12px 20px;
    background: linear-gradient(90deg, #ffa726, #fb8c00);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
    height: 35px;
  }.barkod-input-wrapper {
    display: flex;
    align-items: center;
  }
  
  .camera-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 8px;
  }
  
  .scanner-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .scanner-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .close-button {
    margin-bottom: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  
  .button:hover {
    background-color: #0056b3;
  }
@media (max-width: 500px) {
   
}