.mainsale{
    display:flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap:20px;
    
}
.sale{
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 600px; 
  
}

.saleinput{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 400px; 
    align-items: center;
    justify-content: center;
    gap:20px;
    background-color: aliceblue;
    border :solid 1px;
    box-shadow: 3px 3px 3px gray;
}

.listitems{
    margin-top:50px;
    display :flex;
    flex-direction: column;
    height: 100%;
    width: 600px;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    background-color: aliceblue;
    border: 1px solid black;
    box-shadow: 1px 3px 5px;
    
}
.buut{
    display: flex;
    width: 250px;
    height: auto;
    justify-content: space-between;
}
.sales{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color:rgb(200, 245, 230) ;
    
    
}
.listitem{
    display:flex;
    flex-direction: row;
    gap:20px;
    border: 1px solid black;
    box-shadow: 1px 3px 5px;
}
.ul{
    display :flex;
    flex-direction: column;
    gap:20px;
   
}
.buttonitem{
    color: red;
    height: 30px;
    width: 60px;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
}